{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>HOME</h1>

<div class="me">
    <p class="importent">
    Mitt namn är Björn Ekengren och född och uppvuxen utanför Helsingborg i Skåne. Flyttade 1996 till Ronneby i Blekinge för att studera på dåvarande Högskolan Karlskrona/Ronneby.

    Mina intressen har varierat under årens lopp, just nu har jag bestämt mig för att lära mig lite mer om webb. Ett annat intresse som har följt med under åren är filmproduktion.
    <br>
    <img src="img/film.jpg" width="200px" alt="me">
    </p>

    <p><a href="{{ absolute_url("img/film.jpg") }}"> View the image</a></p>
</div>

{% endblock %}
